[flake8]
per-file-ignores =
    # imported but unused
    __init__.py: F401
# Line of code max length.
max-line-length = 100
# Print the total number of errors.
count = True
# Print the source code generating the error/warning in question.
show-source = True
# Count the number of occurrences of each error/warning code and print a report.
statistics = True
