repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.2.0
      hooks:
        - id: end-of-file-fixer
        - id: name-tests-test
          args: [--django]
        - id: check-json
        - id: check-toml
        - id: check-yaml
          args: [--unsafe]
        - id: check-xml
        - id: check-added-large-files

    - repo: local
      hooks:
      - id: black
        name: black
        entry: black
        language: system
        pass_filenames: true
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        pass_filenames: true
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        pass_filenames: true
        types: [python]
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        pass_filenames: true
        types: [python]
