# My own version of genanki with support to deck configurations.
genanki @ git+https://github.com/guiferviz/genanki.git@feature-deck-conf

gTTS
iso-639
pygithub
markdown2
Pygments
pykakasi
googletrans==3.1.0a0

# Anki dependencies.
anki
protobuf>=3.13.0  # needed because version pinned by mypy-protobuf gives error.
