# My own version of genanki with support to deck configurations.
genanki @ git+https://github.com/guiferviz/genanki.git@feature-deck-conf

gTTS
iso-639
pygithub
markdown2
Pygments

# Anki dependencies.
anki
