/* Taken from:
 * https://github.com/PhilipTrauner/pygments-github-css.
 * The only modification is the substitution of the class ".highlight" by ".codehilite".
 */
.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #6a737d } /* Comment */
.codehilite .err {  } /* Error */
.codehilite .k { color: #d73a49 } /* Keyword */
.codehilite .o { } /* Operator */
.codehilite .ch { color: #6a737d } /* Comment.Hashbang */
.codehilite .cm { color: #6a737d } /* Comment.Multiline */
.codehilite .cp { color: #d73a49 } /* Comment.Preproc */
.codehilite .cpf { color: #032f62 } /* Comment.PreprocFile */
.codehilite .c1 { color: #6a737d } /* Comment.Single */
.codehilite .cs { color: #6a737d } /* Comment.Special */
.codehilite .gd { color: #b31d28; background-color: #ffeef0 } /* Generic.Deleted */
.codehilite .ge {  } /* Generic.Emph */
.codehilite .gr {  } /* Generic.Error */
.codehilite .gh { color: #005cc5 } /* Generic.Heading */
.codehilite .gi { color: #22863a; background-color: #f0fff4 } /* Generic.Inserted */
.codehilite .go {  } /* Generic.Output */
.codehilite .gp {  } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #6f42c1; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #005cc5 } /* Keyword.Constant */
.codehilite .kd { color: #d73a49 } /* Keyword.Declaration */
.codehilite .kn { color: #d73a49 } /* Keyword.Namespace */
.codehilite .kp { color: #d73a49 } /* Keyword.Pseudo */
.codehilite .kr { color: #d73a49 } /* Keyword.Reserved */
.codehilite .kt { color: #d73a49 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #032f62 } /* Literal.String */
.codehilite .na { } /* Name.Attribute */
.codehilite .nb { color: #005cc5 } /* Name.Builtin */
.codehilite .nc { color: #6f42c1 } /* Name.Class */
.codehilite .no { color: #005cc5 } /* Name.Constant */
.codehilite .nd { color: #6f42c1 } /* Name.Decorator */
.codehilite .ni { color: #005cc5 } /* Name.Entity */
.codehilite .ne { color: #005cc5 } /* Name.Exception */
.codehilite .nf { color: #6f42c1 } /* Name.Function */
.codehilite .nl { color: #005cc5 } /* Name.Label */
.codehilite .nn { color: #6f42c1 } /* Name.Namespace */
.codehilite .nt { color: #22863a } /* Name.Tag */
.codehilite .nv { color: #24292e } /* Name.Variable */
.codehilite .ow { color: #d73a49; } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #005cc5 } /* Literal.Number.Bin */
.codehilite .mf { color: #005cc5 } /* Literal.Number.Float */
.codehilite .mh { color: #005cc5 } /* Literal.Number.Hex */
.codehilite .mi { color: #005cc5 } /* Literal.Number.Integer */
.codehilite .mo { color: #005cc5 } /* Literal.Number.Oct */
.codehilite .sa { color: #d73a49 } /* Literal.String.Affix */
.codehilite .sb { color: #032f62 } /* Literal.String.Backtick */
.codehilite .sc { color: #032f62 } /* Literal.String.Char */
.codehilite .dl { color: #d73a49 } /* Literal.String.Delimiter */
.codehilite .sd { color: #032f62 } /* Literal.String.Doc */
.codehilite .s2 { color: #032f62 } /* Literal.String.Double */
.codehilite .se { color: #032f62 } /* Literal.String.Escape */
.codehilite .sh { color: #032f62 } /* Literal.String.Heredoc */
.codehilite .si { color: #005cc5 } /* Literal.String.Interpol */
.codehilite .sx { color: #032f62 } /* Literal.String.Other */
.codehilite .sr { color: #032f62 } /* Literal.String.Regex */
.codehilite .s1 { color: #032f62 } /* Literal.String.Single */
.codehilite .ss { color: #005cc5 } /* Literal.String.Symbol */
.codehilite .bp { color: #005cc5 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #005cc5 } /* Name.Function.Magic */
.codehilite .vc { color: #24292e } /* Name.Variable.Class */
.codehilite .vg { color: #24292e } /* Name.Variable.Global */
.codehilite .vi { color: #24292e } /* Name.Variable.Instance */
.codehilite .vm { color: #005cc5 } /* Name.Variable.Magic */
.codehilite .il { color: #005cc5 } /* Literal.Number.Integer.Long */
