html {
    padding: 20px;
    background-color: black;
}

hr {
    border: 2px solid #4285f4;
}

.card {
    font-size: 1.7em;
    text-align: center;
    color: white;
    border-radius: 20px;
    background: #73AD21;
    padding: 15px;
    border: 5px solid #4285f4;
    font-family: Times;
}

.nightMode .destination {
    color: white !important;
}

.nightMode .origin {
    color: white !important;
}

.destination.word {
    font-size: 1.2em;
}

.fonetic {
    font-style: italic;
    font-weight: bold;
    font-size: 0.75em;
}

.comment {
    padding-top: 10px;
    font-size: 0.6em;
}

.destination .speechpart {
    color:#4285f4;
    line-height: 120%;
    font-size: 70%;
    text-align: left;
}

.origin .speechpart {
    color:#4285f4;
    line-height: 120%;
    font-size: 70%;
    text-align: left;
}

.line_1 {
    line-height: 110%;
    text-align: left;
}

.line_2 {
    color: #959392;
    text-align: left;
    font-size: 80%;
}