name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 0 * * SUN"

defaults:
  run:
    shell: bash  # Avoid PowerShell on Windows

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - 3.8
          - 3.9
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Node (for PyRight)
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install Poetry (Latest Version)
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
      - name: Add Poetry to PATH env var
        run: |
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      - name: Install Python Requirements
        run: poetry install -E all
      - name: Run Linter
        run: poetry run flake8 || echo "::warning::Failure ignored!"
      - name: Run Type Checks
        run: |
          npm install -g pyright
          pyright || echo "::warning::Failure ignored!"
      - name: Run Tests
        run: poetry run pytest || echo "::warning::Failure ignored!"
      - name: Build Wheel
        run: poetry build
      - name: Upload Wheel to GitHub Artifact
        uses: actions/upload-artifact@v2
        with:
          path: dist/
